* {
  scrollbar-color: #888 #fbfafc;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
